#lang {
	position: fixed;
	top:0em;
	right: 0em;
	background-color: #ddd;
}

h2 {
	margin-bottom: 0.25em;
}

h3 {
	margin-top: 0.5em;
	margin-bottom: 0em;
}

p {
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 1.5em;
}

ul ul {
	padding-left: 1em;
}

code {
	background-color: #ddd;
}

address {
	font-style:normal;
}

.banner_list > li > a {
	vertical-align: middle;
}


